<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <title>회원가입 완료</title>
  <link href="css/join.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap" rel="stylesheet">
</head>
<body style="background-color: white;">
<div class="wrapper">
  <center>
    <a href="/"><img src="images/logo.png" style="width:200px; height:100px;"></a><br><br><br><br><br>
    <img src="images/check.png" style="width:100px; height:100px;" ><br><br>
    <div class="title"><h1 style="font-size: 30px;">회원가입 완료</h1><br></div>
    <div class="id" style="font-size: 21px;" ></div><br><br>

    <i style="font-size: 10px;">회원정보 확인 및 수정은</i>
    <i style="font-size: 10px; color:red;">마이페이지&gt; 회원정보수정</i>
    <i style="font-size: 10px;">에서 가능합니다.</i><br><br><br>
    <div class="signUp">
      <button style="display: block; width: 220px; height: 50px; margin: 0 auto; border: none; background-color: black;">
        <a href="/login" style="color: #fff; font-size: 14px; font-weight: bold;">로그인</a>
      </button>
    </div><br><br>
    <div class="signUp">
      <button style="display: block; width: 220px; height: 50px; margin: 0 auto; border: none; background-color: black;">
        <a href="/" style="color: #fff; font-size: 14px; font-weight: bold;">메인화면</a>
      </button>
    </div>
  </center>
</div>
</body>
</html>
