<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>PASSWORD 찾기</title>
    <link href="/css/loginFind.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div id="img">
    <a href="/"><img src="images/logo.png" style="height:100px; width:200px;"></a>
</div>
<div id="wrapfind">
    <div id="findid">
        <center>
            <div class="loginboxF">
                <h2>PASSWORD 찾기</h2>
                <form name="findid" method="post" action="/members/findPassword">
                    <br><br>
                    <input type="text" id="name" placeholder="이름을 입력해 주세요." name="name" th:value="${param.name}"><br>
                    <input type="text" id="loginId" placeholder="등록된 ID를 입력해 주세요." name="loginId" th:value="${param.loginId}"><br>
                    <br>
                    <button type="submit">PASSWORD 찾기</button>
                </form>
            </div>
        </center>
    </div>
</div>
</body>
</html>
