<!doctype html>
<html lang="en"
      xmlns:th="www/thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>공지사항</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   
    <link href="/css/notice.css" rel="stylesheet" type="text/css">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
  </head>
  <body>
    


    
    
      

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" >
      <ol class="breadcrumb" style="float: right; padding-right: 15%; margin-top: 20px;">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="notice.html">공지사항</a></li>
      </ol>
    </nav>
    <div class="noti">공지사항</div>
    <div class="input-group mb-3" style="width:30%; margin:0 auto; padding-top: 5%; clear: both;">
      
      <input type="text" class="form-control " placeholder="3월14일 화이트데이 이벤트" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2" >검색</button>
    </div>
	<div style="margin-left:20%; margin-top:30px;"></div>
    <table class="table table-hover table-bordered" style="width:70%; margin:0 auto; margin-top:8%;">
		
            <thead>
			<tr style="border-top: none; border-bottom: none; border-right: none;"><td style=" border-left: none;  border-right: none;"><font size=2>현재 페이지 / 총 페이지 &nbsp</font></td>
			</tr>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">내용</th>
                <th scope="col">등록일</th>
                
              </tr>
            </thead>
            <tbody>
			
              <tr>
                <th scope="row">1</th>
                <td><a href="notice detail.html">다소니 오픈 공지사항</a></td>
                <td>2023-03-02</td>
            </tr>

            <tr>
              <th scope="row">2</th>
              <td><a href="notice detail.html">공지사항 2</a></td>
              <td>2023-03-02</td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td><a href="notice detail.html">공지사항 3</a></td>
            <td>2023-03-02</td>
        </tr>
        </tbody>
      </table>
	   
      
			   



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <!--POPPER와 JS를 개별로  -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>


</html>