<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="css/indexflower.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
<style>
*{margin:0 auto;
	padding:0;
	box-sizing:border-box;}
</style>
</head>
  <body body style="overflow-x:hidden; overflow-y:auto;">
    <div style="height:auto; min-height: 100%;">
    <div id="divtop">
    <ul id="top">
        <li id="topli"><a href="login.jsp">로그인</a></li>
        <li id="topli"><a href="join.html">회원가입</a></li>
        <li id="topli"><a href="cart.html" target="main">장바구니</a></li>
        <li id="topli"><a href="my.html" target="main">마이페이지</a></li>
        
    </ul>
    </div>
    <nav class="navbar navbar-expand-lg  nav1">

        <div class="container-fluid">
          <a class="navbar-brand logo" href="index.html" ><img src="images/logo2.png" style="width:140px; height:75px; margin-top: -30px;" alt="꽃:다소니로고" ></a>
          <button class="navbar-toggler ham" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse which" id="navbarNav">
            <ul class="navbar-nav navline menu">
              <li class="nav-item navli firstli">
                <a class="nav-link active" aria-current="page" href="#" target="main">꽃추천</a>
              </li>
              <li class="nav-item navli">
                <a class="nav-link active" href="#" target="main">꽃시장</a>
              </li>
              <li class="nav-item navli">
                <a class="nav-link active" href="#" target="main">소품</a>
              </li>
              <li class="nav-item navli">
                <a class="nav-link active" href="flowerDictionary.html" target="main">꽃사전</a>
              </li>
              <li class="nav-item navli about">
                <a class="nav-link active"  target="main">ABOUT</a>
                <ul class="navbar-nav navline subul">
                  <li class="sub" ><a href="notice.html" target="main">공지사항</a></li>
                  <li class="sub"><a href="brand.html" target="main">브랜드소개</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
	  
	
        </div>
   
      </div>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>
</html>